.css-qhdjd1-MuiPaper-root-MuiDialog-paper {
  box-shadow: none;
  padding: 2rem;
}

.css-1dxjlht-MuiPaper-root-MuiCard-root {
  margin-bottom: 1.5rem;
}

.css-19sto2p-MuiTypography-root {
  margin-bottom: 1rem;
}


