@import 'src/styles/index';

.result__list--date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .center {
        height: 40px;
        display: inline-flex;
        align-items: center;
        margin: 0 10px;
    }

    &.noneChecked {
        .date-checked {
            display: none;
        }
    }
}

.role--blank {
    margin-bottom: 20px;
    display: flex;
}

.result__list--input {
    margin-right: 20px;
}

.role--layout {
    display: flex;
}

.role--layout__search {
    @include leftRightAlign();
    margin-bottom: 1.5rem;
}

.arr--layout {
    @include center;
    margin: 1rem 0;
}

.leftBlank {
    margin-right: 1rem;
}

.roleLayout {
    align-items: normal;
}

.MuiPaper-elevation {
    cursor: pointer;
}
