@import 'src/styles/index';

.program--list {
    display: flex;
    &__align {
        display: flex;
    }
}

.topInputLayout {
    padding: 10px;
}
.css-1oukqxz-MuiGrid-root {
    align-items: normal;
}
.common-grid-layout {
    @include table($width: 100%, $titleWidth: 25%, $conWidth: 75%);
    padding-left: 20px;
    table {
        width: 100%;
    }
}

.layout--align {
    @include leftRightAlign;
}
