@import 'src/styles/index';

.program-list {
    display: flex;
    .buttonLayout {
        display: flex;
    }
}

.topInputLayout {
    padding: 10px;
}

.common-grid-layout {
    @include table();
}
