// 색상표 함수
$green: #40A9FF;
$blue: white;
$orange: #e38968;
$gray: #92959e;

*,
*:before,
*:after {
    box-sizing: border-box;
}

.chat--room {
    background: #f2f5f8;
    border-radius: 5px;
    color: #434651;
    margin-top: 8px;
    &__box {
        padding: 40px 30px 20px;
        border-bottom: 0px solid white;
        overflow-y: scroll;
        height: 50vh;
    }
}
.msg--left {
    text-align: left;
}

.msg--right {
    text-align: right;
}

.msg--left__time {
    color: lighten($gray, 8%);
    margin-right: 16px;
    line-height: 20px; 
    font-size: 12px;
}

.message-data-name {
    margin-right: 16px;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;  
    color: rgba(0, 0, 0, 0.85);
}

.msg--right__time {
    margin-right: 16px;
    line-height: 20px; 
    font-size: 12px;
}
// 삭제하기 버튼
.my-message__delete {
    line-height: 20px; 
    font-size: 12px;
    background-color: transparent;
}

.message {
    max-width: 93%;
    padding: 10px 10px;
    line-height: 22px;
    font-size: 14px;
    position: relative;
    word-break: break-all;
    &:after {
        /*
        bottom: 100%;
        right: 29px;
        border: 10px solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        margin-left: -10px;
        */
    }
}
.msg--right {
    .message {
        color: #fff;
        border-radius: 10px 10px 0 10px;
    }
}
.msg--left {
    .message {
        color: #000;
        border-radius: 10px 10px 10px 0;
    }
}
.my-message {
    background: $green;
    cursor: pointer;
    min-width: 100px;
    max-width: 100%;
    text-align: left;
}

.other-message {
    background: $blue;

    &:after {
        border-bottom-color: $blue;
        left: 29px;
    }
}

// 말풍선 위치
.msg--right__speechBubble {
    display: grid;
    justify-items: right;
    margin-bottom: 20px;
    .message-data-time {
        margin-top: 0.3rem;
        width: 100%;
        display: flex;
        justify-items: right;
        justify-content: flex-end;
    }

    // 삭제하기 버튼
    .my-message__delete {
        margin-top: 0.1rem;
    }
}

.msg--left__speechBubble {
    display: grid;
    justify-items: left;
    margin-bottom: 20px;

    .message-data-time {
        margin-top: 0.3rem;
        display: flex;
        justify-items: left;
    }
}

// 공통 스타일
.message-data-time {
    color: lighten($gray, 8%);
    margin-bottom: 5px;
}

.chat-message {
    margin: 20px 0;
    padding: 0px;
    background: #fff;
    .css-i44wyl {
        width: 100%;
    }
    input {
        width: 100%;
        padding: 10px 20px;
        border-radius: 5px;
        resize: none;
        background: #ffffff;
        border: 1px solid #e6ebf1;
    }
    textarea {
        width: 100%;
        border-color: #d4d4d4;
        margin-right: 1rem;
    }
    .jodit-placeholder {
        font-size: 14px !important;
        text-align: center !important;
        line-height: 4 !important;
    }
    .jodit-wysiwyg {
        font-size: 14px !important;
    }
}

.me {
    color: $blue;
}

// 메세지 보내기
.chat-message {
    width: 100%;
    display: flex;
    .inputLayout {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 85%;
        }
        .css-1szk0az-MuiFormLabel-root-MuiInputLabel-root.MuiInputLabel-sizeSmall {
            line-height: 23px;
        }
    }
    .jodit-react-container {
        flex-grow: 1;
        .jodit-toolbar-editor-collection {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

    }
    .buttonLayout {
        width: 184px;
        padding: 25px 26px;
        flex-shrink: 0;
        box-sizing: content-box;
        flex-direction: column;
        .button-box {
            margin-top: 28px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .MuiFormControlLabel-root {
                margin-right: 0;
                .MuiButtonBase-root {
                    width: 16px;
                    height: 16px;
                    padding: 0;
                    margin-right: 8px;
                }
            }
        }
        input {
            margin: 0;
        }
        .button {
            width: 100%;
            height: 40px;
        }
        .button-mail {
            width: 100%;
            height: 40px;
            margin-top: 8px;
        }

    }
}