.orderLayout {
    margin-bottom: 20px;
}

.order__content--width {
    width: 100%;
    display: block;
    button {
        margin: 0 1rem;
    }
    .order__content--checkList {
        background: #f0f0f0;
        padding: 0.7rem 2rem;
        border-radius: 2px;
        margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.officeinfo__table__width {
    width: 100% !important;
}
.css-13eirs8-MuiTableCell-root.MuiTableCell-body {
    background-color: #fafafb !important;
    text-align: center;
    border-right: 1px solid #f0f0f0;
}
.officeinfo__content--box {
    .styles_flex--layout__Yo3He {
        justify-content: center;
    }
    &.top2rem {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    .officeinfo__content--align {
        width: 100%;
    }
}

.catting__layout {
    padding-left: 2rem;
}
.chatting--container {
    .list__download {
        text-decoration: underline;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        place-items: center;
    }
}

.project__info {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e6ebf1;
    &:last-child {
        border-bottom: none;
    }
}

.project__info--download {
    button {
        text-decoration: underline;
        margin-bottom: 10px;
        &:hover {
            color: #1890ff;
        }
    }
}

.file__upload--box {
    display: flex;
    margin: 1rem 0;

    .file__upload--field {
        width: 85%;
    }

    button {
        width: auto;
    }
}
.kwd {
    background-color: #ffffff;
    color: #406eff;
    line-height: 1;
    margin: -2px 0px -2px 0px;
    display: inline-block;
    padding: 1px 2px;
}

.css-6ycgg3-MuiTableCell-root,
.css-brfv4x-MuiTableCell-root,
.css-16kjuag-MuiTableCell-root {
    border-bottom: none;
}

.common__grid--rowTable {
    width: 100%;
    .css-6wp6pb-MuiOutlinedInput-notchedOutline {
        top: 0 !important;
    }
    table {
        width: 100%;
        th {
            width: 25%;
            padding: 1.5rem 0;
            background-color: #fafafb;
            border-bottom: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0;
            font-weight: 600;
            &:last-child {
                border-right: none;
            }
        }
        td {
            padding: 1.5rem 0;
            text-align: center;
            border-right: 1px solid #f0f0f0;
            border-bottom: 1px solid #f0f0f0;
            &:last-child {
                border-right: none;
            }
        }
        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
                th {
                    border-bottom: none;
                }
            }
        }
        .css-199jxd5-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
        .css-wb57ya-MuiFormControl-root-MuiTextField-root,
        .css-wb57ya-MuiFormControl-root-MuiTextField-root {
            width: 85%;
        }
        .tg-0lax-left {
            .css-wb57ya-MuiFormControl-root-MuiTextField-root {
                width: 100% !important;
            }
            border-bottom: none;
        }
        .css-o8pmqo-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-o8pmqo-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-o8pmqo-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
            text-align: left;
        }
    }
    .projectmng__evaluation {
        .tg-0lax {
            width: 25%;
        }
        .tg-1wig {
            width: 40%;
        }
        .tg-0lax__del {
            width: 50px;
        }
    }
}

.projectmng__select {
    & > div {
        justify-content: center;
    }
}
input::file-selector-button {
    display: none;
}

.filemng__table {
    td {
        padding: 1rem !important;
        width: 40% !important;
        vertical-align: baseline;
    }
    th {
        width: 20% !important;
    }
}
.filemng__file--list {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    align-items: center;
    margin-top: 1rem;
    .filemng__file--id,
    .filemng__file--url {
        font-size: 0.8rem;
    }
    .filemng__file--date {
        font-size: 0.65rem;
    }
    .filemng__file--con {
        text-align: right;
        .filemng__file--downlaod {
            text-decoration: underline;
            &:hover {
                color: #1890ff;
            }
        }
    }
}

.scroll {
    background: #f2f5f8;
    &::-webkit-scrollbar {
        width: 14rem;
        height: 12rem;
    }

    &::-webkit-scrollbar-corner {
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-button {
        background-color: #ededed;
        border: #ededed solid 0;
        border-width: 0 0;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        width: 12rem;
        border-radius: 16rem;
        background-color: #ededed;
        border: solid 3rem transparent;
        border-right-width: 2rem;
        background-clip: content-box;

        &:hover {
            background-color: #a3a3a3;
        }
    }
}

.chat--room {
    background: #f2f5f8;
    border-radius: 5px;
    color: #434651;
    margin-top: 8px;
    &__box {
        padding: 30px 30px 20px;
        border-bottom: 2px solid white;
        overflow-y: scroll;
        height: 60vh;
    }
}
