.optTitle {
    margin-top: 10px;
    margin-left: 1.7rem;
    .box {
        margin-bottom: 1rem;
        h4 {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0.7rem;
        }
        p {
            font-size: 0.8rem;
            color: #595959;
        }
    }
    .title {
        padding-top: 20px;
    }
}
