@import 'src/styles/index';

.account--layout {
    display: flex;
    @include layoutOutBlank;
}

.role--blank {
    margin-top: 20px;
}
.inputLayout {
    > div {
        margin-right: 30px !important;
    }
}