.layout-table {
    margin-top: 3rem;
    th {
        text-align: left;
        width: 100px;
        font-weight: 500;
        padding-left: 2rem;
    }
    tr {
        .css-7mgabj-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
            width: 100%;
        }
        td {
            width: 40%;
            padding: 15px;
            input,
            select {
                width: 90%;
            }
        }
    }
}

.rightButton {
    margin-top: 0;
    padding: 0 20px 20px;
}
