@import 'src/styles/index';

.gridCardColor {
    background-color: #000;
}
.default_color {
    > div {
       &:first-child {
           background-color: #13c2c2;
       }
   }
}
.blue_color {
  > div {
    &:first-child {
      background-color: #91D5FF;
    }
  }
}
.color_a {
     > div {
        &:first-child {
            background-color: #13c2c2;
        }
    }
}

.color_b {
    > div {
       &:first-child {
               background-color: #13C2C2;
       }
   }
}

.color_c {
    > div {
       &:first-child {
               background-color: #13c2c2;
       }
   }
}

.color_d {
    > div {
       &:first-child {
               background-color: #13c2c2;
       }
   }
}

.css-p4pzcs-MuiTypography-root {
    font-size: 1.15rem;
    color: $titleText;
}
