@import 'src/styles/index';

.gridCardColor {
    background-color: #000;
}
.color_a {
     > div {
        &:first-child {
            background-color: #1890FF;
        }
    }
}

.color_b {
    > div {
       &:first-child {
               background-color: #13C2C2;
       }
   }
}

.color_c {
    > div {
       &:first-child {
               background-color: #434343;
       }
   }
}

.color_d {
    > div {
       &:first-child {
               background-color: #FF4D4F;
       }
   }
}

.css-p4pzcs-MuiTypography-root {
    font-size: 1.15rem;
    color: $titleText;
}
