.stateSubmit {
    padding: 10px 30px;

    .title {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.css-3jopqd-MuiPaper-root-MuiCard-root {
    border-radius: 2px !important;
    margin-bottom: 30px;
}
.css-1bc5sqj-MuiTypography-root {
    padding-bottom: 10px;
}

.css-1hu2hhy-MuiTreeView-root {
    width: 100%;
}

.state--layout {
    padding-left: 20px;
}
