.stateSubmit {
    .title {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.css-3jopqd-MuiPaper-root-MuiCard-root {
    border-radius: 2px !important;
    margin-bottom: 30px;
}

.css-1hu2hhy-MuiTreeView-root {
    width: 100%;
}
.stateMng{
    .styles_dropList__DUdrc {
        margin-right: 2rem;
        .css-1ppoywa-MuiStack-root {
            min-width: 76px;
            width: auto;
        }
    }
    .bottom--item{
        margin-bottom:10px;
        >div{
            display:inline-block;
            margin-bottom:5px;
            width:50%;
            min-width: 260px;
            .borderTitle{
                min-width: 100px;
            }
            .styles_dropList--input__3dx-1{
                width:auto;
                min-width: 100px;
            }
        }
    }
}