.accessList{
    .inputLayout{
        width:60%;
        .layout--blank {
            margin-right: 10px;
            width:50%;
        }
        .css-1g2xkz4-MuiFormControl-root{
            width:100%;
        }
    }
    
}

.accessReg{
    .bottom--blank{
        display:block;
        
        >div{
            &:nth-child(1){
                margin-right:20px;
            }
            width: 45%;
            display: inline-block;
            min-width: 300px;
            margin-bottom:5px;
            .styles_dropList--input__3dx-1{
                width:70%;
            }
        }
        &:nth-child(2){
            .css-1xdpdky-MuiStack-root{min-width:auto;}
            
            >div{
                &:nth-child(2){
                    &:nth-child(2){
                        .styles_dropList--input__3dx-1{
                            .MuiFormControl-root{
                                margin-bottom:5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .topInputLayout{
        .borderTitle{
            height:35px;
            margin-top:5px;
        }
        .selectBoxSet{
            >div{
                display:inline-block;
            }
        }
    }
}
