@import 'src/styles/index';

.layout--aline {
    display: flex;
}

.account--blank {
    margin-bottom: 1.5rem;
}

.btnBlank {
    margin-top: 30px;
}


.accountmng_reg{
    .css-1xdpdky-MuiStack-root{min-width: auto;}
}