.passwordForm {
    margin-top: 2rem;
    p {
        font-size: 0.8rem;
        line-height: 1.6375em;
        font-weight: 400;
        color: #595959;
    }
}

.text__bottom {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
