.ip__layout {
    justify-content: space-between;
    place-items: center;
    display: flex;
    margin-bottom: 0.6rem;
}

.cardCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__blank {
    margin-bottom: 0.6rem;
}
