.dropList {
    display: flex;
    align-items: center;
    .dropList--input {
        display: flex;
        & > & {
            display: flex;
        }
    }
}

.bottom--blank {
    margin-bottom: 1.5rem;
}
