.dropList {
    display: flex;
    margin-right: 0.5rem;
    .dropList--input {
        display: flex;
        & > & {
            display: flex;
        }
    }
}

.bottom--blank {
    margin-bottom: 1.5rem;
}
