.ly-blank {
    margin-left: 20px;
}


.siteauthList{
    .topInputLayout{
        .inputLayout{
            display: block;
            >div{
                display:inline-block;
                &:nth-child(1){
                    margin-bottom: 5px;
                }
            }
        }
        .buttonLayout {
            button{min-width: 69px;}
        }
    }   
}

.siteauthReg{
    .css-10dsau7-MuiGrid-root{
        >div{
            margin-right:20px;
            .css-131oivd-MuiStack-root{min-width:30px;}
            .css-rpmzzj-MuiFormControl-root{min-width:200px;}
        }
    }
    .css-116imn1-MuiGrid-root{
        >.css-1sthlmf-MuiGrid-root{
            &:nth-child(2){
                margin-top:38px;
            }
        }
    }
    
}