@import 'src/styles/index';

.buttonLayout {
    display: flex;
    justify-content: end;
    button {
        margin: 0 0.5rem;
    }
}

.rightButton {
    @include rightButton;
}

.content--right__button {
    @include rightButton;
    margin-top: 20px;
}

.searchPointColor {
    // 초기화, 신규, 리스트 등등
    button:nth-child(1) {
        background: #8c8c8c;
    }
    // 검색, 저장, 등록 등등
    .primary {
        background: #1890ff;
    }
}
