.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-size: 14px;
}

.MuiDataGrid-columnHeader {
    background-color: rgba(238, 238, 238, 0.7);
    height: 55px;
}

.MuiPaginationItem-root {
    border-radius: 0;
}

.MuiDataGrid-iconSeparator {
    display: none;
}