.result__list--date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .center {
        height: 40px;
        display: inline-flex;
        align-items: center;
        margin: 0 10px;
    }

    &.noneChecked {
        .date-checked {
            display: none;
        }
    }
}

.result__list--input {
    margin-right: 20px;
}

.roleLayout {
    display: flex;
    margin-bottom: 1.5rem;
    &.noneBlank,
    .result__list--date {
        margin-bottom: 0 !important;
    }
    & > div {
        margin-right: 30px;
    }
}
