.keywordWrap{
    margin-bottom: 20px;
}
.notceList{
    :global(.result__list--date){
        margin-bottom: 0px;
    }
}
.dropdownWrap{
    :global(.MuiFormControl-root){
        min-width: 120px;
    }
}