group--menu {
  color: red;
  background: red;
  & --sub {
    color: blue;

    background: blue;
  }
}

.menu--item {
  color: #1b2b3b;
  &.menuParent {
    color: #93989e;
  }
  &.subMenu {
    padding-left: 30px;
  }
}
