@import 'src/styles/index';

.program--list {
    display: flex;
    &__align {
        display: flex;
    }
}
.css-1oukqxz-MuiGrid-root {
    align-items: normal;
}

.menuButton {
    margin-top: 2rem;
}

.css-7mgabj-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    width: 100%;
}
.menu--submit {
    padding-right: 1rem;
}
.layout--align {
    @include leftRightAlign;
}
.menu--right {
    .cardCon {
        .MuiGrid-root {
            > div {
                &:first-child {
                    margin-right: 2rem;
                }
                .MuiFormControl-root {
                    min-width: 200px;
                    width: 100%;
                }
            }
        }
    }
}