@import 'src/styles/index';

.program--list {
    .css-1g2xkz4-MuiFormControl-root {
        margin-right: 10px;
    }
    .layout--blank {
        margin-right: 10px;
    }
}

.css-1oukqxz-MuiGrid-root {
    align-items: normal;
}

.rightButton {
    margin-top: 0;
}
.menuButton {
    margin-top: 2rem;
}
.common-grid-layout {
    @include table();
}

.css-7mgabj-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    width: 100%;
}
