.program--list {
    .css-1g2xkz4-MuiFormControl-root {
        margin-right: 10px;
    }
    .layout--blank {
        margin-right: 10px;
    }
}
.topInputLayout {
    padding: 30px 20px 0;
}

.css-1oukqxz-MuiGrid-root {
    align-items: normal;
}
