.layout {
    margin-right: 20px;
    align-items: center;
    display: flex;
}
.input--field{
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
  &__content {
    display: flex;
    align-items: center;
    flex: 4;
  }
}
