.layout {
    margin-right: 20px;
    align-items: center;
    display: flex;
}

.line-detail__table {
  margin: 1rem 0;
  background: #ffffff;
  width: 100%;
  tr {
    td {
      border: 1.5px solid #e5e5e5;
      padding: 0.5rem 1rem;
    }
    .line-detail__table-label {
      background: #e6ebf1;
      font-weight: 700;
      text-align: right;
    }
    .line-detail__table-children {

    }
  }
}
