.buttonLayout {
    input {
        margin: 0 0.5rem;
    }
}
.gridClass {
    display: flex;
    .mapping--grid {
        margin-right: 21px;
        display: flex;
    }
}

.inputLayout {
    display: flex;
    > div {
        margin-right: 50px;
    }
}
