// table th
$tableTitle: rgb(220, 220, 220, 0.5);
$tableBorder: rgb(220, 220, 220, 0.1);

// 버튼 (저장, 등록 = 파랑 / 그 외 = 진회색)
$saveButton: #1890ff;
$etcButton: #8c8c8c;

// 텍스트 컬러
$titleText: rgba(0, 0, 0, 0.7);
$normalText: #262626;

// dashboard
$dashColor: rgb(73, 182, 214, 0.6);
