// 전역 스타일 파일
@import 'commonColor';
@import 'mixin';

// 공통 타이틀
.borderTitle {
    width: 100px;
    text-align: left;
    align-items: center;
    display: inline-grid;
    font-size: 1rem;
}

// 기간 검색 중 카테고리 부분
.category {
    display: flex;
    margin-bottom: 20px;
}

// 검색 결과 리스트
.css-3yvf2w-MuiDataGrid-root .MuiDataGrid-columnHeader {
    height: 55px;
    font-size: 1rem;
}

.css-25381f-MuiDataGrid-footerContainer {
    @include center;
    border-top: 1px solid rgba(253, 253, 253, 1);
    margin: 20px 0;
    min-height: auto;
}

// 에러 메시지 박스
.css-1aoneob-MuiPaper-root-MuiAlert-root {
    margin-bottom: 0;
}

// 상단 메뉴바 아이콘
.css-1ydvtxb-MuiButtonBase-root-MuiIconButton-root {
    margin-left: 0;
    font-size: 1.2rem;
}

// 상단 아래
.css-dasaed-MuiGrid-root > .MuiGrid-item {
    padding-top: 45px;
}

.css-dasaed-MuiGrid-root {
    margin-top: 0;
}

// Login By 유저정보
.css-w7zj6u-MuiTypography-root {
    font-weight: 400;
}

// 사용함 체크박스
.checkedBox {
    margin-left: 21px;
}

.css-1d9nlt3-MuiPaper-root-MuiCard-root {
    margin-top: 0;
}

// 중간에 표부분 title 스타일
.center--title,
.css-jalhdk-MuiPaper-root {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.33;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    background-color: transparent;
    box-shadow: none;
    text-align: left;
}

// Input 윗 부분 실선
legend,
.css-1in441m {
    display: none;
}

// boarder header 부분
.css-1g5oyi7-MuiDataGrid-root .MuiDataGrid-columnHeader {
    height: 55px;
}

// boarder 게시글
.css-1g5oyi7-MuiDataGrid-root {
    font-size: 14px;
}

.css-1g5oyi7-MuiDataGrid-root .MuiDataGrid-row {
    cursor: pointer;
}

.errorBox {
    display: block;
}

.errorBoxNoShow {
    display: none;
}

// 상세 글쓰기 공통 레이아웃
.common-grid--layout {
    width: 100%;
    margin-bottom: 3rem;

    table {
        width: 100%;
    }

    tr {
        border: 1px solid #f0f0f0;

        th {
            padding: 2rem;
            background-color: $tableTitle;
            width: 10%;
        }

        td {
            width: 90%;
            border: 1px solid #f0f0f0;
            padding: 10px;

            input {
                width: 100%;
            }
        }
    }
}

// 상세 글쓰기 공통 레이아웃
.common-grid--layout2 {
    width: 100%;
    margin-bottom: 3rem;

    .two-column-table {
        width: 100%;

        tr {
            border: 1px solid #f0f0f0;

            th {
                padding: 2rem;
                background-color: $tableTitle;
                width: 10%;
            }

            td {
                width: 40%;
                border: 1px solid #f0f0f0;
                padding: 10px;

                input {
                    width: 100%;
                }
            }
        }
    }
}

.css-h6vcjs-MuiFormControlLabel-root {
    margin-left: 0;
}
// border-radius 라운딩 픽셀 통일
.css-15oiqrv-MuiPaper-root-MuiCard-root,
.css-hjn8fk-MuiPaper-root-MuiCard-root,
.css-1d9nlt3-MuiPaper-root-MuiCard-root,
.css-xiy5o3-MuiPaper-root-MuiCard-root,
.css-13mu4hp-MuiPaper-root-MuiCard-root,
.css-1dxjlht-MuiPaper-root-MuiCard-root,
.css-1a7pcy6-MuiInputBase-root-MuiOutlinedInput-root,
.css-12wp4uq-MuiInputBase-root-MuiOutlinedInput-root,
.css-1uqqosz-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-1nznq0-MuiPaper-root-MuiCard-root,
.css-7mgabj-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
.css-9x2mm1-MuiPaper-root-MuiCard-root,
.css-4xpfy3-MuiPaper-root-MuiCard-root,
.css-19coapg-MuiPaper-root-MuiCard-root,
.css-147vg5q-MuiPaper-root-MuiCard-root,
.css-djv53s-MuiPaper-root-MuiCard-root,
.css-14eoleu-MuiPaper-root-MuiCard-root,
html [type='button'],
[type='reset'],
[type='submit'] {
    border-radius: 2px !important;
}

.css-15oiqrv-MuiPaper-root-MuiCard-root {
    margin-top: 0;
}

// input 창 height 조절
.css-6wp6pb-MuiOutlinedInput-notchedOutline {
    top: 0;
}

.css-1wb0zan-MuiFormControl-root {
    align-items: center;
    place-content: center;
    .css-nen11g-MuiStack-root {
        font-size: 1rem;
    }
}

// 메인관리 리스트 박스 그림자 제거
.css-1d64866 {
    box-shadow: none;
}

// 레이아웃 여백
.layout--out {
    @include layoutOutBlank();
    align-items: normal;
}

.layout__blank--top {
    padding-top: 2rem;
}

.layout--inner {
    @include layoutInnerBlank();
}

.layout--button {
    margin-top: 2rem;
}

.layout--button__bottom {
    margin-bottom: 2rem;
}

.layout--button--rightBlank {
    margin-right: 10px;
}

.css-18bz3y-MuiFormControl-root-MuiTextField-root {
    min-width: 186px;
    max-width: 250px;
    width: 186px;
}

.css-1yi3i18 {
    inset: 0 0 0;
}
.inputLayout {
    display: flex;
}

.blank--layout {
    padding-left: 20px;
}

.css-brkclh-MuiButtonBase-root-MuiCheckbox-root {
    padding-left: 0;
}
.bottom--blank {
    margin-bottom: 1.5rem;
}
.menu--right {
    padding-left: 2rem;
}

.bottom--blank__top {
    margin-top: 1.5rem;
}

.bottom--blank__small {
    margin-bottom: 0.6rem;
}

.layout--align {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

// 게시글 등록 시 썸네일 이미지 크기
.div_thumbnail {
    width: 250px;
    height: 250px;

    .img_thumbnail {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

// 리액트 해시태그 관련 스타일
.ReactTags__tag {
    height: 32px;
    justify-content: center;
    align-items: center;
    font-size: 0.8125rem;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.08);
    margin-right: 0.5rem;
    padding: 10px 14px;
}

.ReactTags__tagInput {
    margin-top: 1rem;
    width: 250px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.ReactTags__remove {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.ReactTags__selected {
    margin-top: 1rem;
}

.css-15ezkgb-MuiPaper-root-MuiCard-root {
    box-shadow: none;
}
// 1024 해상도에서도 width Full로 차도록
@media (min-width: 1024px) {
    .css-1ol3ns7-MuiGrid-root {
        max-width: 100%;
        flex-basis: 100%;
    }
}
