@import 'commonColor';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// table 스타일. 기본 너비는 100%
@mixin table($width: 100%, $bgColor: $tableTitle, $borderLine: $borderLine) {
    margin-bottom: 2rem;
    tr {
        border: 1px solid $borderLine;
        .tb--title {
            padding: 2rem;
            background-color: $bgColor;
            width: 10%;
            font-size: 1rem;
        }
        td {
            width: 90%;
            border: 1px solid $borderLine;
            input {
                width: 100%;
            }
        }
    }
}
