@import 'commonColor';

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// table 스타일. 기본 너비는 100%
@mixin table($width: 100%, $bgColor: $tableTitle, $borderLine: $borderLine) {
    margin-bottom: 2rem;
    tr {
        border: 1px solid $borderLine;
        .tb--title {
            padding: 2rem;
            background-color: $bgColor;
            width: 15%;
            font-size: 1rem;
        }
        td {
            width: 85%;
            border: 1px solid $borderLine;
            input {
                width: 100%;
            }
        }
    }
}

// 좌우 배치
@mixin leftRightAlign($width: 100%) {
    width: $width;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// MainCard layout 내부 여백
@mixin layoutInnerBlank($top: 20px, $left: 20px, $bottom: 20px, $right: 20px) {
    padding: $top $left $bottom $right;
}

// MainCard layout 외부 여백
@mixin layoutOutBlank {
    margin: 20px 0;
}

// 버튼 왼쪽 정렬
@mixin rightButton {
    width: 100%;
    display: flex;
    justify-content: end;
}